@model IEnumerable<Copart.Models.Output.LotDetailsOutput>


<form method="get">
    <button asp-controller="Copart" asp-action="GetLotDetails" class="bg-info">Get</button>
    <input id="lotNumber" type="text" name="lotNumber">
</form>

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Engine
        </th>
        <th>
            Color
        </th>
        <th>
            Lot
        </th>
        <th>
            Place
        </th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.car_Atr.data.lotDetails.ld)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.car_Atr.data.lotDetails.egn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.car_Atr.data.lotDetails.clr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.car_Atr.data.lotDetails.ln)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.car_Atr.data.lotDetails.syn)
                </td>
                @*<td>
                        @Html.ActionLink("Orders", "Index", "Order", new { customerid = item.CustomerID }, null)
                    </td>*@
            </tr>
        }
    }
</table>
